.all{
    width: 100%;
    height: 100vh;
    background-color: rgb(1, 0, 33);
}
.nav_bar{
    height: 80px;
    width: calc(100% - 250px);
    background-color: brown;
    margin-left: 250px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0px;
    
}
.btn{
    height: 50px;
    width: 240px;
    margin-right: 50px;
    border: solid 2px white;
    border-radius: 40px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* lateral menu */

#lateral_menu{
    width: 250px;
    height: 100%;
    margin-top: -80px;
    background-color: black;
    color: lightgray;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}

.cont_logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100px;
    
}
.cont_logo img{
    margin-left: 13%;
    width: 56%;
}

.options_icons_name{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    padding-top: 4%;
    
}
.list_icons{
     
    width: 30%;
    height: 100%;
    
    
}
.list_icons ul{
    width:35%;
    padding-left: 30%;
    margin-top: 0%;
    flex-direction: column;
    
}
.list_icons ul li{
    margin-bottom: 8%;
    padding-top: 25%;
    margin-left: -30%;
    
}
.list_icons ul :active{
    border-left: solid 2px greenyellow;
}
.list_icons ul li a img{
    width: 80%;
    padding-left:30%;
}


.list_icons ul li,
.list_name ul li{
    list-style: none;
}

.list_name{
    margin-left: -23%;
    margin-top: -9%;
    
}
.list_name ul li{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 23%;
    cursor: pointer;
    color: rgb(163, 160, 160);
}
.list_name ul li:hover{
    color: white;
}
.playlist{
    width: 100%;
    height: 400px;
    
}

.playlist h2{

    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-left: 10%;
    font-size: 18px;
}
.crea_playlist{
    width: 100%;
    height: 50px;
    position: relative;
}

.piu{
    width: 50px;
    height: 50px;
    background-color: lightgray;
    color: black;
    display: flex;
    justify-content: center;
    margin-left: 11%;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700; 
    display: inline;  
    padding-left: 12px;
    padding-right: 12px;
}
.piu:hover{
    background-color: white;
}
.sec-span{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-left: 10px;
    margin-top: -10px;
    padding-bottom: 10px;
    padding-top: 10px;
    position: absolute;
    top: 15px;
    left: 70px;
}
.sec-span:hover{
    color: white;
}
.new_playlist{
    width: 100%;
    height: 280px;
    
}
.new_playlist ul li{
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-bottom: 20px;
    color: rgb(163, 160, 160);
}
.new_playlist ul{
    margin-left: -16px;
    margin-top: 20px;
}
.new_playlist ul li:hover{
    color: white;
}


/* /lateral menu */


/* footer */
.play_bar{
    width: 100%;
    height: 100px;
    background-color: brown;
}
/* /footer */
