*{
    margin:0;
    padding:0;
    }

    .clearfix::after{
        content: "";
        display: table;
        clear: both;
    }

.all{
    width: 100%;
    height: 100vh;
    background-color: rgb(1, 0, 33);
}

/* nav bar */
.nav_bar{
    height: 80px;
    width: calc(100% - 250px);
    background-color: rgba(0, 0, 0, 0.5);
    margin-left: 250px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0px;
    
    
}
.btn{
    height: 40px;
    width: 200px;
    margin-right: 50px;
    border: solid 2px white;
    border-radius: 40px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.btn:hover{
  width: 225px; ;
  font-size: 15px;
  margin-right: 40px;
}
/* /nav bar */




/* lateral menu */

#lateral_menu{
    position: relative;
    width: 250px;
    height: 88vh;
    background-color: black;
    color: lightgray;
    padding-top: 10px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    
}

.cont_logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 70px;
}

.cont_logo img{
    margin-left: 13%;
    width: 56%;
}

.list_icons{
    width: 100%;
    height: 120px; 
    margin-top: 5%;
}
.list_icons div a:active{
    border-left: solid 2px greenyellow;
}
.list_icons div a:hover{
    color: white;
    cursor: pointer;
}

.list_icons div a{
    
    text-decoration: none;
    margin-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    display: flex;
    color: grey;
    padding-left: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
}
.list_icons div a img{
    width: 12%;
}

.list_icons div a span{
    margin-top: 6px;
    margin-left: 5px;
}

.playlist{
    width: 100%;
    height: 100%;
    margin-left: -4px;
    position: relative;
    
}

.playlist h2{

    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-left: 10%;
    margin-top: 25px;
    font-size: 16px;
}
.crea_playlist{
    cursor: pointer;
    width: 100%;
    height: 50px;
    margin-top: 15px;
    position: relative;
}

.piu{
    cursor: pointer;
    width: 50px;
    height: 50px;
    margin-left: 11%;
    background-color: rgb(211, 211, 211);
    color: black;
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700; 
    display: inline;
    padding-left: 8px;
    padding-right: 8px;
}
.piu:hover{
    background-color: white;
}
.sec-span{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-left: 10px;
    margin-top: -10px;
    padding-bottom: 10px;
    padding-top: 10px;
    position: absolute;
    top: 15px;
    left: 70px;
    cursor: pointer;
}
.sec-span:hover{
    color: white;
}
.new_playlist{
    width: 100%;
    height: 40%;
    margin-left: 40px;
    
}
.new_playlist ul li{
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 10px;
    color: rgb(163, 160, 160);
    cursor: pointer;
}
.new_playlist ul{
    width: 90%;
    height: 110%;
    margin-left: -16px;
    margin-top: 20px;
    
    
}
.new_playlist ul li:hover{
    color: white;
}

.foot_lateral_menu{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 13px;
    margin-left: 15px;
    width: 70%;
    height: 13%;
    margin-top: 0px;
    
   
    
}
.foot_lateral_menu :first-child{
    padding-bottom: 10px;
    border-bottom: solid 1px grey;
    font-size: 14px;
}
.foot_lateral_menu :first-child .fas{
     border-bottom: none;
     margin-left: 4px;
     margin-right: 10px;
}
.foot_lateral_menu :last-child img{
    width: 17px;
    background-color: gray;
    border-radius: 50%;
    padding: 5px 6px ;
    border: none;
    margin-right: 5px;
}
.foot_lateral_menu :last-child{
    padding-top: 10px;
    position: relative;
}
.foot_lateral_menu :last-child span{
    position: absolute;
    top: 12%;
    left: 20%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: white;
}
    


/* /lateral menu */


/* footer */

.play_bar{
    width: 100%;
    height: 80px;
    background-color: rgb(43, 42, 42);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0px;
}
.song{
    height: 60px;
    width: 160px;
    display: flex;
    align-items: center;
    margin-left: 15px;
    
}
.name_song{
    margin-left: 10px;
}
.name_song :first-child{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 13px;
}
.name_song :last-child{
    color: gray;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 13px;
    margin-left: -1px;
}
.song img{
    width: 60px;
    display: inline;
}

/* /footer */
